/* Global styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9; /* Gris clair pour tout le fond */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.2);
}

/* Titre de la page */
h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

/* Input fields */
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: #6366648b; /* Highlight on focus */
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
}

/* Button styles */
button[type="submit"] {
    width: 100%;
    padding: 12px 15px;
    background-color: #6366648b;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #393939a5;
}

/* Links */
a {
    color: #6366648b;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Error message */
.alert-danger {
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Responsive styling */
@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 1.5rem;
    }
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Mettre les particules derrière le contenu */
}
